/* Body css  */
body{
    margin:0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
/* Body css END */


/* Hero area css  */
.hero-area {
	display: flex;
	margin-top: 50px;
	/* margin-bottom: 50px; */
}
.width50{
    width: 50%;
}
.hero-area-left {
	margin-left: 60px;
	margin-top: 130px;
}
.hero-area-left h1 {
	font-size: 60px;
	color: #575757;
}
.hero-area-left h1 span{
    color: #FBA24F;
}
.hero-area-left p {
	color: #828282;
	font-size: 20px;
}
.our-button {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-image: linear-gradient(to right ,#FBA24F, #FF1E1E);
	padding: 15px 30px;
	border-radius: 30px;
	margin-top: 10px;
	display: inline-block;
}
.hero-area-right img {
	width: 100%;
}
/* Hero area css  END */
/* Eating Salad  */
.salad-area {
	display: flex;
	background-image: url(img/about-bg.png);
	padding-top: 60px;
	background-position: center;
	background-size: cover;
}
.salad-right h2 {
	color: #707070;
	font-size: 29px;
	margin-top: 80px;
}
.salad-right p {
	color: #18191F;
	font-size: 18px;
	line-height: 32px;
	width: 80%;
}
.salad-left img {
	/* width: 100%; */
	margin-left: 50px;
}
/* Eating Salad end  */